.ProductList {
  &__item {
    margin-bottom: 0.5rem;
    overflow: hidden;

    &__title {
      margin: 0 0 0.5rem;
      cursor: pointer;
    }

    &__description {
      // padding: 0 0 0.5rem;
    }
  }
}
