body {
  background-color: $blue;
  color: $black;
  font-family: $font-family-sans-serif;
  font-size: 14px;
}

a {
  color: $black;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $red;
    text-decoration: none;
  }
}

.container {
  background-color: white;
  margin: 10px;
  padding: 25px;
  box-shadow: 0 0 0 1px rgba(206, 186, 186, 0.25), 0 2px 3px rgba(0,0,0,.2);
}

@media screen and (min-width: $screen-sm) {
  .container {
    margin: 25px;
    border-radius: 5px;
  }
}

@media screen and (min-width: $screen-md) {
  .container {
    margin: 50px auto;
    max-width: 700px;
  }
}
