// colours
$white: #feffff;
$gray-lighter: rgba(0, 0, 0, 0.05);
$gray-light: rgba(0, 0, 0, 0.15);
$gray: rgba(0, 0, 0, 0.6);
$gray-dark: rgba(0, 0, 0, 0.9);
$black: #000002;

$red: rgba(246, 50, 62, 1); // pomegranate
$blue: rgba(114, 144, 255, 1); // cornflower blue

// fonts
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;

// breakpoints
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1024px;
